<% @title= @page.title %>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  Date Posted: <%= @page.created_at.to_date %>
</p>

<p>
  Date Last Updated: <%= @page.updated_at.to_date %>
</p>


  <strong>Body:</strong>
  <%= sanitize @page.body %>



