/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/**********************
GENERAL
**********************/

body {
    background: #F7F7F7;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
}

#page {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

a:link{
    color: #0000FF;
    text-decoration: none;
}

a:visited{
    color: #800080;
}

a:hover{
    color: #FF0000;
    background: none;
}

a:active{
    color: #800080;
    background: none;
}

#headtext a {
    color: #FFFFFF;
}


/**********************
HEADER
**********************/

header {
    width: 90%;
    height: 12%;
    background: #689D68;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
}

header img {
    float: left;
}

header ul {
    list-style-type: none;
}

header li {
    float: right;
    display: inline-block;
    background: #428442;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#headtext{
    font-size: 2.5em;
    color: #ffffff;
    display: inline-block;
    letter-spacing: 2px;
    line-height: 30px;
    padding-left: 20px;
    font-weight: bold;
}


/**********************
NAVIGATION BAR
**********************/
nav a:link{
    color: #000000;
    text-decoration: none;
}

nav a:visited{
    color: #000000;
}

nav a:hover{
    color: #000000;
    background: none;
}

nav a:active{
    color: #000000;
    background: none;
}



    nav {
        background: #428442;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
    }

    nav ul {
        text-align: left;
        display: inline;
        margin: 0;
        padding: 15px 4px 17px 0;
        list-style: none;
    }

    nav ul li {
        font: bold 12px/18px sans-serif;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        background: #428442;
        cursor: pointer;
    }

    nav ul li a {
        padding: 15px 20px;
        display: block;
    }

    nav ul li:hover {
        background: #CEE3F6;
        color: #000;
    }

    nav ul li ul {
        padding: 0;
        position: absolute;
        top: 48px;
        left: 0;
        width: 250px;
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    nav ul li ul li {
        background: #428442;
        display: block;
        color: #000;
        border: 1px solid #E0F8E0;
    }

    nav ul li ul li:hover {
        background: #CEE3F6;
    }

    nav ul li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul ul {
        position: absolute; left: 100%; top:0;
    }

    .firstli {
        margin-left: 20px;
    }




@media only screen and (max-width : 760px) {
    nav {
        background: #428442;
        width: 90%;
        margin: 0 auto;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    nav ul {
        margin: 0 10px;
        padding: 15px 4px 17px 0;
        list-style: none;
    }

    nav ul li {
        font: bold 12px/18px sans-serif;
        padding: 5px 7px;
        background: #428442;
        cursor: pointer;
    }

    nav ul li a {
        padding: 15px 20px;
        display: block;
    }

}

/**********************
CONTENT
**********************/

article {
    background: #E0F8E0;
    border-radius: 10px;
    margin: 1% 0 2% 5%;
    padding: 1%;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2;
}


/**********************
SIDEBAR
**********************/

aside {
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 3;
    order: 3;
    background: #CEE3F6;
    margin: 1% 5% 2% 1%;
    border-radius: 10px;
    padding: 1%;
}

.adcontainer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    clear: both;
}

.social {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

.g-plusone {
    display: block;
    clear: both;
    text-align: center;
}

.facebook{
    display: block;
    clear: both;
    text-align: center;
}

.twitter {
    display: block;
    clear: both;
    text-align: center;
}
/**********************
FOOTER
**********************/

footer {
    display: block;
    width: 90%;
    margin: 2% auto 0 auto;
    padding: 1%;
    background: #CCCCCC;
    clear: both;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}